<launch>
    <!--Launch anello ros driver-->
    <node name="anello_ros_driver" pkg="anello_ros_driver" type="anello_ros_driver">
        <param name="data-port" value="/dev/ttyUSB0"/>
        <param name="config-port" value="/dev/ttyUSB3"/>
    </node>

    <!--Launch ntrip client-->
    <include file="$(find ntrip_client)/launch/ntrip_client.launch">
        <arg name="host" value="127.0.0.1"/>
        <arg name="port" value="1111"/>
        <arg name="mountpoint" value="AUTO"/>
        <arg name="authenticate" value="true"/>
        <arg name="username" value=""/>
        <arg name="password" value=""/>
        <arg name="ntrip_version" value=""/>
        <arg name="ssl" value="false"/>
        <arg name="cert" value=""/>
        <arg name="key" value=""/>
        <arg name="ca_cert" value=""/>
        <arg name="debug" value="false"/>
        <arg name="rtcm_message_package" value="mavros_msgs"/>
    </include>
</launch>